<h1 class="home-welcome">Welcome to Framgia Vietnam</h1>
<p>To become official staff of the company, you must be trained through a challenging course.</p>
<p>If you are a trainee, please <%= link_to "sign in", signin_path %> here.</p>
<p>If you are a supervisor, please <%= link_to "sign in", admin_signin_path %> here.</p>
<p>Best regards.</p>