<h1><%= @enrollment.course.name %></h1>
<h1><%= @enrollment_subject.name %></h1>
<% if current_user? @user %>
  	<% unless @enrollment_subject.status == "done" %>
  		<%= render "report" %>
  		<%= button_to "Finish Subject", user_enrollment_enrollment_subject_path, method: :patch, class: "btn btn-large btn-primary" %>
  	<% end %>
<% end %>