<h1><%= @enrollment.course.name %></h1>
<h1><%= @enrollment_subject.subject.name %></h1>
<% if current_user? @user %>
  <div class="row">
      <div class="span6 offset3">
      </div>
    <% end %>
  </div>
		<br>
  	<% unless @enrollment_subject.status == "done" %>
  		<%= button_to "Finish Subject", user_enrollment_enrollment_subject_path, method: :patch, class: "btn btn-large btn-primary" %>
<% end %>