@import "bootstrap";
@import "custom_mixins";

/* Varible definitions */
$site_width: 940px;

$color_black: #333538;
$color_white: #fffcf5;
$color_gray: #cccccc;
$color_gray_light: #f3f3f3;
$color_link_hover: #3498db;
$color_primary_button: #2269b7;
$color_primary_button_hover: #5489c4;
$color_danger_button: #c0392b;
$color_danger_button_hover: #e74c3c;
$color_separator: #34495e;
$color_mil_new: #bdc3c7;
$color_mil_hover: #74c14a;
$color_mil_finished: #51b11d;
$color_table_header: #1abc9c;
$color_table_alt: #f7f7f7;
$color_table_row_hover: #d0f1ea;

$font_title: "Ubuntu", "Segoe UI";
$font_paragraph: "Helvetica", "Arial";

$mil_finished_opacity: 0.5;
$mil_height: 50px;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center-child {
  @include clearfix;
  display: inline-block;
  margin: 0 auto;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center h1 {
  margin-bottom: 10px;
}

input[type="checkbox"] {
  vertical-align: top;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  @include clearfix;
  font-size: 36px;
  font-family: $font_title;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

h1.page-title {
  /* To create a button / status next to title */
  form, form div {
    display: inline;
  }
  span.completed {
    font-size: 18px;
    color: $color_mil_finished;
    letter-spacing: 0;
  }
}

h2 {
  @include clearfix;
  font-size: 20px;
  font-family: $font_title;
  margin: 30px 0;
  font-weight: normal;
}

h3 {
  font-size: 16px;
  font-family: $font_title;
  margin: 15px 0 10px 0;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a:hover {
  text-decoration: none;
  color: $color_link_hover ;
}

/* header */

.navbar-inverse .navbar-inner {
  background-color: $color_black;
  background-image: none;
  border-color: $color_black;
}

#logo {
  float: left;
  margin: 5px 0 0 10px;
  font-size: 20px;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  line-height: 1;
  font-family: $font_title;
}

#logo:hover {
  color: $color_white;
  text-decoration: none;
}

.logo-img {
  float: left;
  width: 40px;
  height: 40px;
  margin: 5px 0;
}

.navbar .nav {
  margin-top: 5px;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle {
  background-color: $color_black;
}

.navbar .nav > li {
  border-left: 1px solid $color_separator;

  a {
    text-transform: uppercase;
    font-size: 13px;
    font-family: $font_title;
  }

  &:last-child {
    border-right: 1px solid $color_separator;
  }

}

.navbar .pull-right > li > .dropdown-menu {
  top: 50px;
}

/* footer */

footer {
  margin: 35px 0 10px 0;
  padding-top: 5px;
  border-top: 1px solid $color_black;
  color: $color_black;
  clear: both;
  text-align: center;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  line-height: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.btn {
  text-shadow: none;
  background-image: none;
  @include border-radius(0);
  border: none;
  font-family: $font_title;
  text-transform: uppercase;

  &:hover, &:focus {
    border: none;
    outline: none;
  }
}

.btn-primary {
  color: $color_white;
  background-color: $color_primary_button;
  font-size: 15px;

  &:hover, &:focus {
    background-color: $color_primary_button_hover;
  }
}

.btn-danger {
  color: $color_white;
  background-color: $color_danger_button;
  font-size: 15px;

  &:hover, &:focus {
    background-color: $color_danger_button_hover;
  }
}

.btn.small {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 11px;
  margin: 0 0 2px 5px;
  padding: 0 7px;
  letter-spacing: 0;
}

.btn.small.above-table {
  margin-top: -25px;
}

.btn.right {
  float: right;
}

.btn.assignment {
  display: block;
  margin: 5px auto;
}

.link-danger {
  color: $color_danger_button;
  font-size: 13px;

  &:hover {
    color: $color_danger_button_hover;
  }
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* List - index */

.list-wrap {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0 20px 0;
    border-top: 1px solid $color_black;
    display: inline;
    float: left;
    width: 48%;
    margin-left: 15px;
  }
}

.list-wrap.in-profile {
  li {
    width: 100%;
    margin-left: 0;
  }
}


.list-item-avatar {
  overflow: auto;
  margin-top: 10px;
  width: 60px;
  height: 60px;
  float: left;
}

.list-item-info {
  float: left;
  margin: 20px 0 0 20px;
}

.pagination {
  clear: both;
  text-align: center;
}

/* User */

.user-info-wrap {
  margin: 10px 0;
}

.user-avatar {
  overflow: auto;
  margin-top: 10px;
  float: left;
}

.user-info {
  float: left;
  margin: 10px 0 0 20px;

  h1 {
    font-size: 28px;
    margin: 0;
    display: inline-block;
    vertical-align: bottom;
  }

  h3 {
    margin-top: 0;
  }

  .user-desc {
    font-style: italic;
    margin-top: 5px;
  }

  form {
    margin: 0;
    display: inline-block;
  }
}

ul.user-sidebar {
  list-style: none;
  margin-left: 10px;

  li.sub-list {
    margin-bottom: 15px;

    ul {
      list-style: none;

      li {
        margin-bottom: 10px;
        font-size: 13px;
      }            
    }

    h3.list-header {
      font-weight: normal;
      font-family: $font_title;
      cursor: pointer;

      a {
        color: $color_black;
      }
    }
    .caret {
      border-top: none;
      border-bottom: 5px solid $color_link_hover;
      margin: 7px 0 0 5px; 
    }    
  }

  li.sub-list.closed {
    .caret {
      border-top: 5px solid $color_link_hover;
      border-bottom: none;
    }

    ul {
      display: none;
    }
  }

  .user-avatar {
    float: none;
    width: 30px;
    height: 30px;
  }

  .user-name {
    vertical-align: top;
    display: inline-block;
    margin: 13px 0 0 5px;
  }
}

/* Subject list */
.subject-list {
  clear:both ;
  margin: 0;

  ul {
    list-style: none;
    margin-bottom: 20px;

    li {
      position: relative;
      
      .subject-status {
        text-transform: uppercase;
        font-weight: bold;
        position: absolute;
        text-align: center;
        width: 100px;
        font-size: 11px;
        @include border-radius(5px);
        top: 0;
        right: 0;
        background-color: $color_mil_new;
        color: $color_black;
      }

      .subject-status.F {
        background-color: $color_mil_finished;
        color: $color_white;
      }
    }
  }
}

/* Home page */
h1.home-welcome {
  margin-top: 20px;
}

/* Milestones */

ul.milestones {
  margin: 30px auto;
  text-align: center;
}

ul.milestones li.F {
  opacity: $mil_finished_opacity;
  
  .milestone-status {
    background-color: $color_mil_new;

    a {
      color: $color_mil_finished;
    }
  }

  .line-linkage {
    border: 1px solid $color_mil_finished;
  }
}

ul.milestones li {
  display: inline-block;
  width: 150px;
  margin-bottom: 10px;

  .milestone-name {
    position: relative;
    width: 100px;
    height: 25px;
    padding: 0px;
    background: $color_white;
    @include border_radius(5px);
    border: 1px solid $color_black;
    margin: 10px auto 0;

    &:after {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 7px 7px 0;
      border-color: $color_white transparent;
      display: block;
      width: 0;
      z-index: 1;
      bottom: -7px;
      left: 43px;
    }

    &:before {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 7px 7px 0;
      border-color: $color_black transparent;
      display: block;
      width: 0;
      z-index: 0;
      bottom: -8px;
      left: 43px;
    }

    a {
      color: $color_black;
      font-size: 13px;
      font-weight: bold;
      font-family: $font_title;
      line-height: 22px;
      width: 100px;
      display: inline-block;
    }
  }

  .milestone-status {
    text-align: center;
    width: $mil_height;
    height: $mil_height;
    line-height: $mil_height;
    background-color: $color_mil_finished;
    @include border-radius(50%);
    margin-top: 10px;
    display: inline-block;

    a {
      color: $color_mil_finished;
      font-size: 30px;
    }    
  }

  .line-linkage {
    width: 102px;
    height: 0px;
    border: 2px dashed $color_mil_new;
    position: relative;
    top: -26px;
    left: 100px;
    z-index: -1000;
    opacity: 1;
  }

  &:last-child, &:nth-child(6n) {
    .line-linkage {
      display: none;
    }
  }
}

/* task */

ul.tasks {
  display: inline-block;
  margin: 0 auto 10px;
}

ul.tasks li.F {
  background-color: $color_mil_new;
  opacity: $mil_finished_opacity;

  .task-status {
    color: $color_mil_finished;
    margin: 0 auto;
  }

  .line-linkage {
    border: 1px solid $color_mil_finished;
  }
}

ul.tasks li {
  width: 90px;
  height: 90px;
  display: inline-block;
  background-color: $color_mil_finished;
  @include border-radius(5px);
  margin: 0 20px 10px;
  padding: 5px;
  text-align: center;
  vertical-align: top;
  position: relative;

  .task-name {
    height: 70px;
    color: $color_white;
    font-size: 13px;
    font-family: $font_title;
    font-weight: bold;
    text-transform: capitalize;
  }

  .task-status {
    color: $color_white;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    
    input {
      vertical-align: top;
    }
  }

  .line-linkage {
    width: 40px;
    height: 0px;
    border: 2px dashed $color_mil_new;
    position: relative;
    top: -45px;
    left: 95px;
    z-index: -1000;
    opacity: 1;
  }

  &:last-child, &:nth-child(6n) {
    .line-linkage {
      display: none;
    }
  }
}

ul.tasks-sup {
  margin: 0;
  list-style: none;

  li {
    display: inline-block;
    margin: 5px 10px;
    color: $color_black;
  }

  li.new {
    color: $color_mil_new;
  }

  li.F {
    color: $color_mil_finished;
  }
}

/* User list */

ul.users {
  list-style: none;
  li {
    overflow: auto;
    padding-bottom: 20px;
    display: inline;
    float: left;
    width: 48%;
  }

  .user-avatar {
    width: 50px;
    height: 50px;    
  }
}

/* body paragraph */
.container p {
  font-size: 14px;
  padding: 0 25px;
  text-align: justify;
}

/* Activities */
ul.activities {
  opacity: 0.8;
  font-size: 12px;
  li {
    margin-bottom: 10px;
  }
}

/* Select_tag */
select.courses {
  width: 200px;
  display: inline-block;
  vertical-align: baseline;
  margin: 7px;
}

/* Table */
table {
  margin: 0 auto 20px;
  border: 2px solid $color_gray_light;
  border-top: none;

  tr:nth-child(2n+1) {
    background-color: $color_table_alt;
  }

  tr:first-child {
    th {
      text-transform: uppercase;
      background-color: $color_table_header;
      color: $color_white;
    }
  }

  tr:hover {
    background-color: $color_table_row_hover;
  }

  th, td {
    font-family: $font_title;
    padding: 10px;
    border-left: 1px solid $color_gray_light;
    text-transform: capitalize;
  }

  td {
    color: $color_black;
  }
}

/* Special purpose cells */
td.subject-info {

  h4 {
    font-size: 16px;
    font-weight: normal;
  }

  p {
    white-space: nowrap;
  }

  .status {
    display: none;
  }

  .status.F {
    display: block;
    color: $color_mil_finished;
  }
}

/* Datepicker */
table.ui-datepicker-calendar {
  tr:first-child {
    th {
      background-color: $color_gray_light;
      color: $color_danger_button;
      border: none;
      font-weight: normal;
      font-size: 13px;
    }
  }

  tr:nth-child(2n+1) {
    background-color: $color_gray_light;
  }

  tr {
    background-color: $color_gray_light;

    td {
      border: none;
      line-height: 10px;
      text-align: center;

      a {
        color: $color_black;

        &:hover {
          color: $color_link_hover;
        }
      }
    }

    &:hover {
      background-color: $color_gray_light;
    }
  }
}

.ui-datepicker-next {
  @include calendar_button;
  right: 15px;
  border-left: 6px solid $color_gray_light;
}

.ui-datepicker-prev {
  @include calendar_button;
  left: 15px;
  border-right: 6px solid $color_gray_light;
}

.ui-datepicker-title {
  line-height: 40px;
  font-family: $font_title;
  font-size: 16px;
  color: $color_gray_light;
  background-color: $color_table_header;
  text-align: center;  
}

/* Dashboard */
.dashboard-left {
  h2 {
    background-color: $color_gray;
    padding: 10px;
    color: $color_white;
    margin: 0;
  }

  .user-info-wrap {
    margin: 0;

    .user-avatar {
      overflow: auto;
      margin-bottom: 30px;
      width: 60px;
      height: 60px;
      float: left;
    }

    h1 {
      width: 120px;
      font-size: 18px;
      margin: 10px 0 0; 
      overflow: visible;
      white-space: nowrap;
      letter-spacing: 0;
    }
  }
}

.dashboard-right {
  h1 {
    line-height: 60px;
  }

  h2 {
    background-color: $color_gray;
    padding: 10px;
    color: $color_white;
    margin: 0;
  }
}

.dashboard-right table {
  width: 100%;

  tr:first-child {
    font-size: 11px;
  }

  td {
    font-size: 13px;
  }
}

/* Dashboard sectors */
.dashboard-sector {
  position: relative;

  .command {
    position: absolute;
    top: -1px;
    right: 0;
  }

  .content {
    margin-top: 10px;
  }
}

/* Course status */
.course-status.F {
  text-transform: uppercase;
  font-weight: bold;
  color: $color_mil_finished;
}

.user-avatar.admin {
  float: none;
  width: 50px;
  vertical-align: bottom;
}

/* Modals */
.modal .modal-header h3 {
  font-family: $font_title;
  font-weight: normal;
}

.modal.large {
  width: 700px;
  margin-left: -350px;
}

.modal.large.fade.in {
  top: 20%;
}

/* User assignment */
.assignment-list-title {
  font-family: $font_title;
  color: $color_primary_button;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-right: 20px;
  border-bottom: 1px solid $color_gray;
}

.assignment-button-wrap {
  margin-top: 60px;
}

select[multiple].assignment-select {
  outline: none;
  border: none;
  font-size: 13px;
  height: 150px;

  option {
    &:nth-child(2n) {
      background-color: $color_table_alt;
    }
  }
}

/* Used in add / edit course */
table.add-course {
  .subject-duration input, .subject-tasks ul {
    display: none;
  }
}

.subject-duration {
  width: 100px;

  input {
    margin-bottom: 0;
  }
}

.subject-tasks {
  width: 350px;

  ul {
    list-style: none;
  }
}

/* Fieldsets */
fieldset legend {
  font-family: $font_title;
}

/* Admin new subject */
#admin-subject {
  label {
    margin-top: 10px;
  }

  ul#sortable {
    border: 1px solid #5489C4;
    list-style: none;
    margin: 0 0 20px;
    padding: 10px;
    min-height: 8px;
  }

  li {
    background: #CCCCCC;
    margin: 5px 0;
    padding: 5px;
  }
  
  div.center {
    margin-top: 30px;
  }
}
